@page "/Account/ForgotPasswordConfirmation"
@layout Components.Layout.AuthLayout

<PageTitle>Forgot Password Confirmation</PageTitle>

<div class="report-card auth-card">
    <div class="card-header">
        <h3 class="card-header-title">Forgot Password Confirmation</h3>
    </div>
    <div class="card-body">
        <p role="alert" class="alert alert-success">
            Please check your email to reset your password.
        </p>

        <a href="Account/Login" class="btn btn-primary w-100">Back to Login</a>
    </div>
</div>