@layout MainLayout
@inherits LayoutComponentBase

<h2>Mnage your account settings</h2>
<hr />
<div class="row">
    <div class="col-md-3 manage-sidebar">
        <GiftOfTheGiver_Foundation.Components.Account.Pages.Manage.ManageNavMenu />
    </div>
    <div class="col-md-9">
        @Body
    </div>
</div>