@page "/Account/Lockout"
@rendermode InteractiveServer

@layout Components.Layout.MainLayout

<PageTitle>Locked out</PageTitle>

<header>
    <div class="card-header">
    <h1 class="text-danger">Locked out</h1>
    </div>

    <div class="card-body">
    <p class="text-danger" role="alert">This account has been locked out, please try again later.</p>
    </div>

    <div class="action-buttons">
        
        <button class="btn btn-secondary-custom" @onclick="NavigateToWelcome">Logout</button>
    </div>
</header>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    private void NavigateToWelcome()
    {
        NavigationManager.NavigateTo("/");
    }

}
